<div class="chart-flex-container" style="width: fit-content">
    <div class="pie">
    <%# Create svg and align viewbox %>
    <svg height="250" width="250" viewBox="0 0 250 250">
    <circle r="125" cx="125" cy="125" fill="white" />

    <%# Orient first slice at top of circle %>
    <%- angle = -90 %>

    <%# For each slice, create circle with stroke border, where gap between strokes = circumference (to make 1 slice) %>
    <%- for object in data do %>
        <%# Circle radius should be 1/4 of bg circle dimension %>
        <circle class="pie-slice" r='62.5' cx='125' cy='125' fill='none'
        stroke="<%= object[:color] %>"
        stroke-width='125'
        stroke-dasharray='calc(<%= object[:percent_value] %> * 2 * pi * 62.5) calc(2 * pi * 62.5 - (<%= object[:percent_value] %> * 2 * pi * 62.5))' 
        transform='rotate(<%= angle %>, 125, 125)'/>

        <%- angle += 360 * object[:percent_value]%>
    <% end %>
    </svg>
    </div>
</div>

<%= render :partial => '/styles' %>