<div class="chart-flex-container">
    <div class="pie-flex-container" style="width: fit-content; max-width: 100%; margin: 0 auto; display: flex; display-direction: row">
        <svg class="pie-chart" style="width: 300px; max-width: 100%;" viewBox="0 0 300 300">
            <%- arc_x = 25 %>
            <%- arc_y = 150 %>
            <%- cumulative_percent = 0 %>
            <%- cumulative_angle = -180 %>
            <%# Calculate arc coordinates to draw each slice %>
            <%- data.each_with_index do |object, index| %>
                <%- cumulative_percent += object[:percent_value] %>
                <path class="pie-slice" id="pie-slice-<%= index %>" d="M 150 150 L <%= arc_x %> <%= arc_y %> A 125 125 0 
                    <%= object[:percent_value] > 0.5 ? 1 : 0 %> 1
                    <%= 150 - 125 * Math.cos(2 * Math::PI * cumulative_percent) %> 
                    <%= 150 - 125 * Math.sin(2 * Math::PI * cumulative_percent) %> Z" 
                stroke="White" 
                fill="<%= object[:color] %>"
                stroke-width="1" --name="<%= object[:name] %>"/>
                <%- arc_x = 150 - 125 * Math.cos(2 * Math::PI * cumulative_percent) %>
                <%- arc_y = 150 - 125 * Math.sin(2 * Math::PI * cumulative_percent) %>

                <%# Render arc highlights for hover effect %>
                <circle class="pie-slice-arc" id="pie-slice-arc-<%= index %>" r='135' cx='150' cy='150' fill='none'
                    stroke="<%= object[:color] %>"
                    stroke-width='16'
                    stroke-dasharray='calc(<%= object[:percent_value] %> * 2 * pi * 135) calc(2 * pi * 135)' 
                    stroke-opacity='0'
                    transform='rotate(<%= cumulative_angle %>, 150, 150)'/>
                <%- cumulative_angle += 360 * object[:percent_value] %>
            <% end %>
        </svg>
        <%# Pie chart key %>
        <div class="pie-key-flex-container">
            <%- data.each_with_index do |object, index| %>
                <svg class="pie-key" id="pie-key-<%= index %>" width="50%" viewBox="0 0 auto auto">
                    <circle class="pie-key-circle" id="pie-key-circle-<%= index %>" r="5" cx="5%" cy='50%' fill="<%= object[:color] %>"/>
                    <text class="pie-key-text" id="pie-key-text-<%= index %>" x="15%" dy='50%' alignment-baseline="middle"><%= object[:name] %></text>
                </svg>
            <% end %>
        </div>
    </div>
</div>

<style>
<%# Styling for hover effects between chart and key %>
<%- data.each_with_index do |object, index| %>
.pie-flex-container:has(#pie-slice-<%= index %>:hover) #pie-key-circle-<%= index %> {
    stroke: <%= object[:color] %>;
    r: 5%;
	fill-opacity: 0.5;
	transition: 0.05s all ease;
}
.pie-flex-container:has(#pie-slice-<%= index %>:hover) #pie-key-text-<%= index %> {
    fill: <%= object[:color] %>;
	transform: translateX(2.5%);
	transition: 0.2s all ease;
}
.pie-flex-container:has(#pie-key-<%= index %>:hover) #pie-slice-<%= index %> {
    fill-opacity: 0.8;
	transform: translateX(0.1%);
	transition: 0.25s all ease;
}
.pie-flex-container:has(#pie-key-<%= index %>:hover) #pie-slice-arc-<%= index %> {
    fill-opacity: 0.8;
	stroke-opacity: 0.3;
	transition: 0.05s all ease;
}

#pie-key-<%= index %>:hover #pie-key-circle-<%= index %> {
	stroke: <%= object[:color] %>;
    r: 5%;
	fill-opacity: 0.5;
	transition: 0.05s all ease;
}

#pie-key-<%= index %>:hover #pie-key-text-<%= index %> {
    fill: <%= object[:color] %>;
	transform: translateX(2.5%);
	transition: 0.2s all ease;
}

<% end %>

</style>

<%= render :partial => '/styles' %>