<div class="chart-flex-container" style="width: fit-content">
    <div class="pie">
        <svg height="250" width="250" viewBox="0 0 300 300">
            <%-arc_x = 25%>
            <%-arc_y = 150%>
            <%-cumulative_percent = 0%>
            <%-cumulative_angle = -180%>
            <%-data.each_with_index do |object, index|%>
                <%-cumulative_percent += object[:percent_value]%>
                <path class="pie-slice" d="M 150 150 L <%=arc_x%> <%=arc_y%> A 125 125 0 
                    <%=object[:percent_value] > 0.5 ? 1 : 0%> 1
                    <%= 150 - 125 * Math.cos(2 * Math::PI * cumulative_percent)%> 
                    <%= 150 - 125 * Math.sin(2 * Math::PI * cumulative_percent)%> Z" 
                stroke="White" 
                fill="<%=object[:color]%>"
                stroke-width="1" />
                <%-arc_x = 150 - 125 * Math.cos(2 * Math::PI * cumulative_percent)%>
                <%-arc_y = 150 - 125 * Math.sin(2 * Math::PI * cumulative_percent)%>

                <circle class="pie-slice-arc" r='135' cx='150' cy='150' fill='none'
                    stroke="<%=object[:color]%>"
                    stroke-width='16'
                    stroke-dasharray='calc(<%=object[:percent_value]%> * 2 * pi * 135) calc(2 * pi * 135)' 
                    stroke-opacity='0'
                    transform='rotate(<%=cumulative_angle%>, 150, 150)'/>
                <%-cumulative_angle += 360 * object[:percent_value]%>
            <% end %>
        </svg>
    </div>
    <%# Insert the key here %>
</div>

<%= render :partial => '/styles' %>